@font-face {
   font-family: '851H-kktt_004';
   font-display: swap;
   src: url('file:///C:/Users/Risa%20Tani/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-06-16_085408/fonts/851H-kktt_004/font.ttf');
}
